@import "./../../global/style.scss";
.Comment {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .Profile {
    padding: 24px;
    display: flex;
    align-items: center;
    svg {
      width: 60px;
      height: 60px;
    }
  }
  .Content {
    width: 100%;
    h2 {
      @include text($font-dark-color, 24px);
    }
    span {
      @include text($font-gray-color, 16px);
    }
    p {
      @include text($font-dark-color, 18px);
    }
  }
  .Actions {
    display: flex;
    & > button:last-child {
      margin-left: auto;
    }
  }
}
