@import "./../../global/style.scss";
.Radios {
  display: flex;
  flex-direction: row;
  position: relative;
  column-gap: 16px;
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 4px;
  align-items: center;
  span {
    position: absolute;
    top: 0;
    display: block;
    background-color: white;
    padding: 0 6px;
    transform: translateY(-50%);
    left: 12px;
    @include text($font-dark-color, 14px);
  }
  input {
    display: none;
  }
  label {
    cursor: pointer;
  }
}
